<h1>Add a Person</h1>

<% if @new_person %>
<h3><%= @new_person %> has been added to the database!</h3>
<% end %>

<form action="/add" method="post">

  <input type="text" name="first_name" id="first_name" value="FIRST NAME" />
  <input type="text" name="last_name" id="last_name" value="LAST NAME" />
  <input type="text" name="phone_number" id="phone_number" value="PHONE NUMBER" />
  <button type="submit" id="submit">Submit</button>

</form>
