<h1>Teams</h1>

<h3>LACKP has the following teams:</h3>

<ol>
<% @all_teams.each do |team| %>
  <li><a href="/teams/<%= team.name %>"><%= team.name %></a></li>
<% end %>
</ol>

<h3><a href="/">Back to Home</a></h3>
