challenges/koans/
challenges/phase-1/rock-paper-scissors/
challenges/phase-2/next-train/
challenges/phase-3/twitter-data
challenges/phase-4/space-jams
challenges/phase-5/git-practice/poros
challenges/phase-5/slacker-news
challenges/phase-6/cohort-stats
challenges/phase-7/grocery-list-sinatra
challenges/phase-8/grocery-list-postgres
challenges/phase-9/grocery-list-ajax
