@import 'https://fonts.googleapis.com/css?family=Alegreya|Source+Sans+Pro';

h1, h2, h3, h4 {
  font-family: Alegreya, serif;
  color: white;
}

h3, h4 {
  margin: 0px;
}

h3 a {
  color: white;
  font-size: 1.6em;
  margin: 0px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  background-color: #3498DB;
  padding: 10px 0px 75px 50px;
  height: 50px;
  width: 100%;
}

nav h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

nav h3 {
  font-weight: lighter;
}

.quote {
  background-color: #2ECC71;
  border: 5px #27AE60 solid;
  border-radius: 4%;
  height: 150px;
  width: 600px;
  margin: 25px auto ;
  padding: 15px;
}

.quote p {
  font-weight: bold;
}

.try-it-now {
  background-color: #E74C3C;
  border: 5px #C0392B solid;
  border-radius: 4%;
  height: 100px;
  width: 300px;
  margin: 0px auto;
  padding: 30px 35px 0px;
}

.try-it-now h3, h4 {
  text-align: center;
  font-size: 1.3em;
}

.try-it-now h4 {
  font-weight: lighter;
}

.blue-page-section {
  background-color: #2C3E50;
}

.blue-page-section p {
  color: white;
}

.content-wrapper {
  padding: 40px;
  margin-top: 20px;
}

.content-wrapper h1 {
  font-family: "Source Sans Pro";
}

footer {
  background-color: black;
  padding: 25px;
  font-family: "Source Sans Pro";
  color: #3499DD;
  text-align: center;
}

footer a {
  color: #3499DD;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
