<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Launchbook</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Launchbook</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><a href="#">Feed</a></li>
            <li class="has-dropdown">
              <a href="#">Account</a>
              <ul class="dropdown">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Sign out</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <div id="sidebar-left">
          <div class="favorites">
            <h5>Favorites</h5>
            <ul class="side-nav">
              <li><a href="#">News Feed</a></li>
              <li><a href="#">Messages</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Photos</a></li>
            </ul>
          </div>
          <div class="pages">
            <h5>Pages</h5>
            <ul class="side-nav">
              <li><a href="#">Pages Feed</a></li>
              <li><a href="#">Like Pages</a></li>
              <li><a href="#">Create Ad</a></li>
            </ul>
          </div>
          <div class="groups">
            <h5>Groups</h5>
            <ul class="side-nav">
              <li><a href="#">Launch Academy</a></li>
              <li><a href="#">Danger Zone</a></li>
              <li><a href="#">Mr. G. Fan Club</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="small-8 column">
        <%= yield %>
      </div>

      <div class="small-2 columns">
        <div id="sidebar-right">
          <div class="ads">
            <div class="ad-slot">
              <h6>Ad Slot</h6>
              <img src="http://placegoat.com/200/200">
            </div>
            <div class="ad-slot">
              <h6>Ad Slot</h6>
              <img src="http://placegoat.com/200/200">
            </div>
            <div class="ad-slot">
              <h6>Ad Slot</h6>
              <img src="http://placegoat.com/goatse/200/200">
            </div>
            <div class="ad-slot">
              <h6>Ad Slot</h6>
              <img src="http://placegoat.com/200/200">
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
