<section id="sidebar">
  <% if controller.action_name == "index" %>
    <h4>Event Statistics</h4>
  <% end %>
  <% if controller.action_name == "show" %>
    <h4>About This Event</h4>
  <% end %>
</section>
