
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

form, button {
  color: #000;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

.form-title {
  color: #fff;
}

#user-list {
  float:right;
}

#user-list li {
  list-style-type: none;
}

.avatar-small {
  height: 50px;
  width: 50px;
}

#meetup-submit-button {
  margin-top: 25px;
  margin-left: 50px;
}
