<h1>Got a Super-Exciting Story to Tell?</h1>

<h3><%= @error_message %></h3>

<form action="/articles" method="post">

  <label>Share Here!</label>
  <input type="text" id="article_name" name="article_name" value="<%= @article_name %>">
  <input type="text" id="article_url" name="article_url" value="<%= @article_url %>">
  <input type="text" id="article_description" name="article_description" value="<%= @article_description %>">

  <input type="submit">

</form>
