<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Xyz</a></li>
    <li>Features</li>
  </ul>
</nav>

<h1 class="text-center">Wow, what an awesome, page!</h1>
<h3 class="text-center">Here are some reasons you should fill out our form:</h3>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="column small-4">
  <h3>Resources:</h3>
  <ul class="menu vertical">
    <li><a href="#">a link</a></li>
    <li><a href="#">another link</a></li>
    <li><a href="#">wow links</a></li>
  </ul>
</div>

<div class="column small-8">
  <h3>Now for the form:</h3>
  <form action="#" method="post">
    <label>Name:</label><br />
    <input type="text"><br />
    <label>Favorite Fruit:</label><br />
    <input type="text"><br />
    <label>Least Favorite Cheese:</label><br />
    <input type="text"><br />
    <div class="text-center">
      <input class="button" type="Submit" value="Submit">
    </div>
  </form>
</div>
