<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foundation Funtimes</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

    <!-- main content -->
    <%= yield %>

    <!-- javascript -->

  </body>
</html>
