<ul class="side-nav">

  <li><a href="/">Home</a></li>
  <li><a href="#">New Releases</a></li>
  <li><a href="#">Horror</a></li>
  <li><a href="#">Action</a></li>
  <li><a href="#">Drama</a></li>

</ul>
