<div class="row">
  <div class="medium-2 columns">
    <%= render 'movies/side_nav' %>
  </div>

  <div class="medium-10 columns">
    <div class="movie">
      <%= render partial: 'movies/movie', locals: { movie: @movie }  %>
    </div>

    <div>
      <%= button_to "Rent!", movie_rentals_path(@movie), class: :button %>
    </div>

    <div>
      <%= link_to "Back", movies_path, class: :button %>
    </div>

  </div>
</div>
